<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Page.Title - Public Published Profile</title>
    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/slideshow.js"></script>

    <!--<link href="files/public_published_profile_james_martin/styles.css" type="text/css" rel="stylesheet" />-->
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet" />
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet" />
    <link href="data/styles.css" type="text/css" rel="stylesheet" />
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/public_published_profile_james_martin/data.js"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () { return 'resources/images/transparent.gif'; };
        $axure.utils.getOtherPath = function () { return 'resources/Other.html'; };
        $axure.utils.getReloadPath = function () { return 'resources/reload.html'; };
    </script>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <header>
        <div id="base" class="">

            <!-- Unnamed (Header Public) -->
            <!-- Site Heading (Rectangle) -->
            <div id="u72" class="ax_default heading_1" data-label="Site Heading">
                <div id="u72_text" class="text ">
                    <p><span><br></span></p><p><span>MY SCHOOL REMEMBERS</span></p>
                </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u73" class="ax_default image">
                <img id="u73_img" class="img " src="images/public_home_page/u2.png" />
            </div>

            <!-- Unnamed (Dynamic Panel) -->
            <div id="u74" class="float-left">
                <div id="u74_state0" class="float-left">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u75" class="ax_default primary_button">
                        <div id="u75_div" class=""></div>
                        <div id="u75_text" class="text ">
                            <p><span>Home</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u76" class="ax_default primary_button">
                        <div id="u76_div" class=""></div>
                        <div id="u76_text" class="text ">
                            <p><span>Log In</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u77" class="ax_default primary_button">
                        <div id="u77_div" class=""></div>
                        <div id="u77_text" class="text ">
                            <p><span>Search</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Text Field) -->
                    <div id="u78" class="ax_default text_field">
                        <input id="u78_input" type="text" value="" />
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u79" class="ax_default primary_button">
                        <div id="u79_div" class=""></div>
                        <div id="u79_text" class="text ">
                            <p><span>Portfolios</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- PostCard -->
    <section class="content-wrapper">
        <div class="ax_default" id="postcard">
            <!-- Name Heading (Rectangle) -->
            <div id="u10" data-label="Name Heading">
                <div id="u10_text" class="text ">
                    <h1>Charles Lilley</h1><p>
                </div>
                <!-- Profile Photo (Image) -->
                <div id="u17" class="ax_default image" data-label="Profile Photo">
                    <img id="u17_img" class="img " src="~/Images/profile_photo_u17.png" />
                </div>
            </div>
            <!-- Born Label (Rectangle) -->
            <div id="u16" class="ax_default label" data-label="Born Label">
                <div id="u16_div" class=""></div>
                <div id="u16_text" class="text ">
                    <p><span>Born:</span></p>
                </div>
                <!-- Born Content Label (Rectangle) -->
                <div id="u11" class="ax_default label" data-label="Born Content Label">
                    <div id="u11_div" class=""></div>
                    <div id="u11_text" class="text ">
                        <p><span>3 January 1901</span></p><p><span>Tocumwal, NSW</span></p>
                    </div>
                </div>
            </div>
            <!-- Fate Label (Rectangle) -->
            <div id="u15" class="ax_default label" data-label="Fate Label">
                <div id="u15_div" class=""></div>
                <div id="u15_text" class="text ">
                    <p><span>Fate:</span></p>
                </div>
                <!-- Fate Content Label (Rectangle) -->
                <div id="u12" class="ax_default label" data-label="Fate Content Label">
                    <div id="u12_div" class=""></div>
                    <div id="u12_text" class="text ">
                        <p><span>Returned to Australia 1 November, 1917, Died 16 June 1982, Heidelberg</span></p>
                    </div>
                </div>
            </div>
            <!-- Service Label (Rectangle) -->
            <div id="u14" class="ax_default label" data-label="Service Label">
                <div id="u14_div" class=""></div>
                <div id="u14_text" class="text ">
                    <p><span>Service:</span></p>
                </div>
                <!-- Service Content Label (Rectangle) -->
                <div id="u13" class="ax_default label" data-label="Service Content Label">
                    <div id="u13_div" class=""></div>
                    <div id="u13_text" class="text ">
                        <p><span>Field Artillery Brigade 8, Battery 29</span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Slideshow container -->
    <div>
        <div id="slideshow" class="slideshow-container">
            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <!-- Full-width images with number and caption text -->
            <div class="mySlides fade">
                <div class="numbertext">1 / 8</div>

                <!-- Main Name Heading (Rectangle) -->
                <div id="u19" class="ax_default heading_2" data-label="Main Name Heading">
                    <div id="u19_div" class=""></div>
                    <div id="u19_text" class="text ">
                        <h2>Charles Lilley</h2><p>
                    </div>
                </div>

                <!-- Overview Text Content (Rectangle) -->
                <div id="u18" class="ax_default label" data-label="Overview Text Content">
                    <div id="u18_div" class=""></div>
                    <div id="u18_text" class="text ">
                        <p><span>Charles ‘Charlie’ Harold Lilley was born in Armadale on 3 July, 1892. Charlie worked as a clerk and played for the Melbourne Football Club from 1913-1915 until he was enlisted into the Military. Charles embarked on 20 May 1916 and returned the following year on 1 November 1917. Lilley returned to the Melbourne Football Club in 1919 and played until 1925 as both a defender and a midfielder. Charles finished his career with 132 games played. Lilley died on 16 June 1982 at the age of 89.&nbsp; He has a plaque in the Victorian Garden of Remembrance.</span></p>
                    </div>
                </div>

                <!-- Main Content (Image) -->
                <div id="u20" class="ax_default image">
                    <img id="u20_img" class="img " src="~/Images/u20.png" />
                </div>
            </div>
            <div class="mySlides fade">
                <div class="numbertext">2 / 8</div>

                <!-- Main Name Heading (Rectangle) -->
                <div id="u19" class="ax_default heading_2" data-label="Main Name Heading">
                    <div id="u19_div" class=""></div>
                    <div id="u19_text" class="text ">
                        <h2>Charles Lilley</h2><p>
                    </div>
                </div>

                <!-- Overview Text Content (Rectangle) -->
                <div id="u18" class="ax_default label" data-label="Overview Text Content">
                    <div id="u18_div" class=""></div>
                    <div id="u18_text" class="text ">
                        <p><span>Charles Lilley was born on 3 July 1892 in Armadale.</span></p>
                    </div>
                </div>

                <!-- Main Content (Image) -->
                <div id="u20" class="ax_default image">
                    <img id="u20_img" class="img " src="~/Images/First Year Map Content.png" />
                </div>
            </div>
            <div class="mySlides fade">
                <div class="numbertext">3 / 8</div>

                <!-- Main Name Heading (Rectangle) -->
                <div id="u19" class="ax_default heading_2" data-label="Main Name Heading">
                    <div id="u19_div" class=""></div>
                    <div id="u19_text" class="text ">
                        <h2>Charles Lilley</h2><p>
                    </div>
                </div>

                <!-- Overview Text Content (Rectangle) -->
                <div id="u18" class="ax_default label" data-label="Overview Text Content">
                    <div id="u18_div" class=""></div>
                    <div id="u18_text" class="text ">
                        <p><span>Charlie Lilley was a regular at the Melbourne Football Club before the war. He was known as a clever, pacy, and calm centreman. Unfortunately Charlies early career was at an uncompetitive Melbourne who finished 9th in his first season.</span></p>
                    </div>
                </div>

                <!-- Main Content (Image) -->
                <div id="u20" class="ax_default image">
                    <img id="u20_img" class="img " src="~/Images/u20.png" />
                </div>
            </div>
            <div class="mySlides fade">
                <div class="numbertext">4 / 8</div>

                <!-- Main Name Heading (Rectangle) -->
                <div id="u19" class="ax_default heading_2" data-label="Main Name Heading">
                    <div id="u19_div" class=""></div>
                    <div id="u19_text" class="text ">
                        <h2>Charles Lilley</h2><p>
                    </div>
                </div>

                <!-- Overview Text Content (Rectangle) -->
                <div id="u18" class="ax_default label" data-label="Overview Text Content">
                    <div id="u18_div" class=""></div>
                    <div id="u18_text" class="text ">
                        <p><span>The 1915 season would go on to be Charlies most successful as a player with Melbourne finishing 4th and earning a place in the finals. It was also the year Charlie enlisted in the Military. Charlie played out the VFL season while completing the camp. The following year the club went into recess and Charlie embarked, travelling to Europe.</span></p>
                    </div>
                </div>

                <!-- Main Content (Image) -->
                <div id="u20" class="ax_default image">
                    <img id="u20_img" class="img " src="~/Images/fourth_year_image_content_u76.jpg" />
                </div>
            </div>
            <div class="mySlides fade">
                <div class="numbertext">5 / 8</div>

                <!-- Main Name Heading (Rectangle) -->
                <div id="u19" class="ax_default heading_2" data-label="Main Name Heading">
                    <div id="u19_div" class=""></div>
                    <div id="u19_text" class="text ">
                        <h2>Charles Lilley</h2><p>
                    </div>
                </div>

                <!-- Overview Text Content (Rectangle) -->
                <div id="u18" class="ax_default label" data-label="Overview Text Content">
                    <div id="u18_div" class=""></div>
                    <div id="u18_text" class="text ">
                        <p><span>Charlie was still able to play football during the war. In October 1916 he played in an Exhibition game for servicemen in London in front of the Prince of Whales, King Manuel of Portugal, and 8,000 other onlookers. Charlie played for the 3rd Division AIF taking on the Combined Training Units in London. The teams were made up of players from leagues around Australia. Gerald Brosnan of The Winner reported on the match and the local reactions.</span></p>
                    </div>
                </div>

                <!-- Main Content (Image) -->
                <div id="u20" class="ax_default image">
                    <img id="u20_img" class="img " src="~/Images/4007a.AIFmatch.png" />
                </div>
            </div>
            <div class="mySlides fade">
                <div class="numbertext">6 / 8</div>

                <!-- Main Name Heading (Rectangle) -->
                <div id="u19" class="ax_default heading_2" data-label="Main Name Heading">
                    <div id="u19_div" class=""></div>
                    <div id="u19_text" class="text ">
                        <h2>Charles Lilley</h2><p>
                    </div>
                </div>

                <!-- Overview Text Content (Rectangle) -->
                <div id="u18" class="ax_default label" data-label="Overview Text Content">
                    <div id="u18_div" class=""></div>
                    <div id="u18_text" class="text ">
                        <p><span>Lilley was seriously wounded in France in June 1917, and was discharged as medically unfit with leg injuries and a punctured lung.</span></p>
                    </div>
                </div>
            </div>
            <div class="mySlides fade">
                <div class="numbertext">7 / 8</div>

                <!-- Main Name Heading (Rectangle) -->
                <div id="u19" class="ax_default heading_2" data-label="Main Name Heading">
                    <div id="u19_div" class=""></div>
                    <div id="u19_text" class="text ">
                        <h2>Charles Lilley</h2><p>
                    </div>
                </div>

                <!-- Overview Text Content (Rectangle) -->
                <div id="u18" class="ax_default label" data-label="Overview Text Content">
                    <div id="u18_div" class=""></div>
                    <div id="u18_text" class="text ">
                        <p><span>Lilley returned to the VFL as vice-captain of Melbourne in 1919.</span></p>
                    </div>
                </div>
            </div>
            <div class="mySlides fade">
                <div class="numbertext">8 / 8</div>

                <!-- Main Name Heading (Rectangle) -->
                <div id="u19" class="ax_default heading_2" data-label="Main Name Heading">
                    <div id="u19_div" class=""></div>
                    <div id="u19_text" class="text ">
                        <h2>Charles Lilley</h2><p>
                    </div>
                </div>

                <!-- Overview Text Content (Rectangle) -->
                <div id="u18" class="ax_default label" data-label="Overview Text Content">
                    <div id="u18_div" class=""></div>
                    <div id="u18_text" class="text ">
                        <p><span>Lilley retired in 1925 after playing 132 games.</span></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <footer>
        <div class="content-wrapper">
            <br>

            <!-- The dots/circles -->
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
                <span class="dot" onclick="currentSlide(5)"></span>
                <span class="dot" onclick="currentSlide(6)"></span>
                <span class="dot" onclick="currentSlide(7)"></span>
                <span class="dot" onclick="currentSlide(8)"></span>
            </div>
        </div>
    </footer>
</body>
</html>